@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: "VetrinoRegular";
  src: url("../fonts/VetrinoRegular.eot");
  src: url("../fonts/VetrinoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/VetrinoRegular.svg#VetrinoRegular") format("svg"), url("../fonts/VetrinoRegular.ttf") format("truetype"), url("../fonts/VetrinoRegular.woff") format("woff"), url("../fonts/VetrinoRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #ed5b5b;
  margin-bottom: 6px;
}

.section__heading--desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #595757;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* Main style sheet begins here */
.mainScreen {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.mainScreen__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #f2f0f0;
  font-size: 55px;
  margin-bottom: 10vh;
}
.mainScreen__button {
  padding: 30px 100px;
  border-radius: 10px;
  background-color: #ed5b5b;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f2f0f0;
}

.header {
  padding: 30px 0px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f2f0f0;
  margin-bottom: 20vh;
}
.header__logo {
  max-width: 248px;
  width: 100%;
  padding: 10px 7px;
  text-align: center;
  border-left: 2px solid #f2f0f0;
  border-right: 2px solid #f2f0f0;
}
.header__logo--name {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #f2f0f0;
  margin-bottom: 5px;
}
.header__logo--desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #f2f0f0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu--ul li + li {
  margin-left: 45px;
}
.header__menu--link {
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__phone a + a {
  margin-left: 12px;
}
.header__phone--social {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__phone--number {
  cursor: pointer;
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ed5b5b;
  margin-left: 25px;
  border: none;
  outline: none;
  color: #f2f0f0;
}

/* "Tours" section styles start here */
.tours {
  padding-top: 80px;
}
.tours__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}
.tours__desc--box {
  max-width: 490px;
  width: 100%;
}
.tours__desc--heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #595757;
}
.tours__desc--text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #595757;
}
.tours__tabs--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tours__tabs--button {
  position: relative;
  max-width: 195px;
  width: 100%;
  height: 90px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ed5b5b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tours__tabs--button:first-child::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 43px;
  background-color: #ed5b5b;
  left: 0;
}
.tours__tabs--button::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 43px;
  background-color: #ed5b5b;
  right: -3px;
}
.tours__tabs--button.active {
  background-color: #ed5b5b;
  border-radius: 10px 10px 0px 0px;
  color: #f2f0f0;
}
.tours__tabs--button.active::after {
  opacity: 0;
}
.tours__tabs--bottom {
  position: relative;
  height: calc(100vh - 110px);
}
.tours__tab {
  position: absolute;
  z-index: 1;
  opacity: 0;
  height: calc(100vh - 110px);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  padding: 50px 15px 44px 15px;
}
.tours__tab.active {
  z-index: 5;
  opacity: 1;
}
.tours__tabs--heading {
  position: relative;
  text-align: center;
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
  font-size: 36px;
  line-height: 36px;
}
.tours__tabs--heading::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 5px;
  background-color: #ed5b5b;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.tours__tabs--slider {
  text-align: center;
  position: relative;
}
.tours__tabs--slider .slick-prev.slick-arrow {
  background: none;
  border: none;
  outline: none;
  background-image: url("../img/mainContent/toursPrevArrow.png");
  width: 79px;
  height: 79px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 50;
}
.tours__tabs--slider .slick-next.slick-arrow {
  background: none;
  border: none;
  outline: none;
  background-image: url("../img/mainContent/toursNextArrow.png");
  width: 79px;
  height: 79px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 50;
}
.tours__tabs--slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}
.tours__tabs--slider .slick-dots li + li {
  margin-left: 15px;
}
.tours__tabs--slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #f2f0f0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tours__tabs--slider .slick-dots .slick-active button {
  background-color: #f2f0f0;
}
.tours__tabs--slide__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #f2f0f0;
  font-size: 32px;
  margin-top: 20vh;
}
.tours__tabs--slide__time {
  position: relative;
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-weight: 600;
  color: #f2f0f0;
  font-size: 18px;
  margin-top: 40px;
}
.tours__tabs--slide__time::before {
  content: "";
  position: absolute;
  background-image: url("../img/mainContent/clock.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-60px, -11px);
  -ms-transform: translate(-60px, -11px);
  transform: translate(-60px, -11px);
}
.tours__tabs--slide__type {
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
  font-size: 18px;
  margin-top: 10px;
}
.tours__tabs--slide__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f2f0f0;
  font-size: 18px;
  line-height: 24px;
  max-width: 760px;
  width: 100%;
  margin: 40px auto 10px auto;
}
.tours__tabs--slide__link {
  display: inline-block;
  padding: 25px 70px;
  background-color: #ed5b5b;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f2f0f0;
  margin-top: 10vh;
}

/* "Tours" section styles end here */
/* "Individual route" section styles start here */
.individualRoute {
  background-color: #f2f0f0;
  text-align: center;
  padding: 55px;
}
.individualRoute__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #595757;
  margin-bottom: 25px;
}
.individualRoute__heading span {
  color: #ed5b5b;
}
.individualRoute__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #595757;
  margin-bottom: 25px;
}
.individualRoute__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f2f0f0;
  text-transform: uppercase;
  background-color: #ed5b5b;
  border-radius: 10px;
  padding: 20px 60px;
}

/* "Individual route" section styles end here */
/* "About me" section styles start here */
.about {
  padding: 90px 0px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__content {
  max-width: 500px;
  width: 100%;
}
.about__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #595757;
  margin-bottom: 30px;
}
.about__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #595757;
}
.about__photo {
  width: 575px;
  height: 381px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* "About me" section styles end here */
.footer {
  margin-top: auto;
}

/* Main style sheet ends here */