@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

/* Main style sheet begins here */
.h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
}

.footer {
  margin-top: auto;
}

/* Main style sheet ends here */