@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: "VetrinoRegular";
  src: url("../fonts/VetrinoRegular.eot");
  src: url("../fonts/VetrinoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/VetrinoRegular.svg#VetrinoRegular") format("svg"), url("../fonts/VetrinoRegular.ttf") format("truetype"), url("../fonts/VetrinoRegular.woff") format("woff"), url("../fonts/VetrinoRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.errorrMsg {
  padding: 9px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #ff7575;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f2f0f0;
  margin-bottom: 20px;
}

.section__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #ed5b5b;
  margin-bottom: 6px;
}

.section__heading--desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #595757;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* Main style sheet begins here */
.mainScreen {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.mainScreen__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #f2f0f0;
  font-size: 55px;
  margin-bottom: 10vh;
}
.mainScreen__button {
  padding: 30px 100px;
  border-radius: 10px;
  background-color: #ed5b5b;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f2f0f0;
}

.header {
  padding: 30px 0px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f2f0f0;
  margin-bottom: 20vh;
}
.header__logo {
  max-width: 248px;
  width: 100%;
  padding: 10px 7px;
  text-align: center;
  border-left: 2px solid #f2f0f0;
  border-right: 2px solid #f2f0f0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo--name {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #f2f0f0;
  margin-bottom: 5px;
}
.header__logo--desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #f2f0f0;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu--ul li + li {
  margin-left: 45px;
}
.header__menu--link {
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
  position: relative;
}
.header__menu--link::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #ed5b5b;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__menu--link:hover::after {
  opacity: 1;
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  margin-left: 50px;
  cursor: pointer;
}
.header__burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__phone a + a {
  margin-left: 12px;
}
.header__phone--social {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__phone--number {
  cursor: pointer;
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ed5b5b;
  margin-left: 25px;
  border: none;
  outline: none;
  color: #f2f0f0;
}

/* "Tours" section styles start here */
.tours {
  padding-top: 30px;
}
.tours__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}
.tours__desc--box {
  max-width: 490px;
  width: 100%;
}
.tours__desc--heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #595757;
}
.tours__desc--text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #595757;
}
.tours__tabs--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tours__tabs--button {
  position: relative;
  max-width: 195px;
  width: 100%;
  height: 90px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ed5b5b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tours__tabs--button:first-child::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 43px;
  background-color: #ed5b5b;
  left: 0;
}
.tours__tabs--button::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 43px;
  background-color: #ed5b5b;
  right: -3px;
}
.tours__tabs--button.active {
  background-color: #ed5b5b;
  border-radius: 10px 10px 0px 0px;
  color: #f2f0f0;
}
.tours__tabs--button.active::after {
  opacity: 0;
}
.tours__tabs--bottom {
  position: relative;
  height: calc(100vh - 110px);
}
.tours__tab {
  position: absolute;
  z-index: 1;
  opacity: 0;
  min-height: 745px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  padding: 50px 15px 44px 15px;
}
.tours__tab.active {
  z-index: 5;
  opacity: 1;
}
.tours__tabs--heading {
  position: relative;
  text-align: center;
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 100px;
}
.tours__tabs--heading::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 5px;
  background-color: #ed5b5b;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.tours__tabs--slider {
  text-align: center;
  position: relative;
}
.tours__tabs--slider .slick-prev.slick-arrow {
  background: none;
  border: none;
  outline: none;
  background-image: url("../img/mainContent/toursPrevArrow.png");
  width: 79px;
  height: 79px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 50;
}
.tours__tabs--slider .slick-next.slick-arrow {
  background: none;
  border: none;
  outline: none;
  background-image: url("../img/mainContent/toursNextArrow.png");
  width: 79px;
  height: 79px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 50;
}
.tours__tabs--slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tours__tabs--slider .slick-dots li + li {
  margin-left: 15px;
}
.tours__tabs--slider .slick-dots li button {
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #f2f0f0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tours__tabs--slider .slick-dots .slick-active button {
  background-color: #f2f0f0;
}
.tours__tabs--slide {
  min-height: 520px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tours__tabs--slide__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #f2f0f0;
  font-size: 32px;
  margin-bottom: 40px;
}
.tours__tabs--slide__type {
  font-family: "VetrinoRegular";
  font-weight: 400;
  color: #f2f0f0;
  font-size: 18px;
  margin-bottom: 40px;
}
.tours__tabs--slide__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f2f0f0;
  font-size: 18px;
  line-height: 24px;
  max-width: 760px;
  width: 100%;
}
.tours__tabs--slide__link {
  padding: 25px 70px;
  background-color: #ed5b5b;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f2f0f0;
  margin-top: auto;
  margin-bottom: 20px;
}

/* "Tours" section styles end here */
/* "Individual route" section styles start here */
.individualRoute {
  background-color: #f2f0f0;
  text-align: center;
  padding: 55px;
}
.individualRoute__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #595757;
  margin-bottom: 25px;
}
.individualRoute__heading span {
  color: #ed5b5b;
}
.individualRoute__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #595757;
  margin-bottom: 25px;
}
.individualRoute__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f2f0f0;
  text-transform: uppercase;
  background-color: #ed5b5b;
  border-radius: 10px;
  padding: 20px 60px;
}

/* "Individual route" section styles end here */
/* "About me" section styles start here */
.about {
  padding: 90px 0px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__content {
  max-width: 500px;
  width: 100%;
}
.about__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #595757;
  margin-bottom: 30px;
}
.about__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #595757;
}
.about__photo {
  width: 575px;
  height: 381px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutAdditional {
  background-color: #f2f0f0;
  padding: 42px 0px;
}
.aboutAdditional__line {
  padding-left: 179px;
  position: relative;
}
.aboutAdditional__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutAdditional__line:first-child::before {
  width: 82px;
  height: 55px;
  background-image: url("../img/mainContent/aboutIconPeople.png");
}
.aboutAdditional__line:nth-child(2)::before {
  width: 78px;
  height: 82px;
  background-image: url("../img/mainContent/aboutIconCar.png");
}
.aboutAdditional__line:nth-child(3)::before {
  width: 98px;
  height: 91px;
  background-image: url("../img/mainContent/aboutIconHeart.png");
}
.aboutAdditional__line + .aboutAdditional__line {
  margin-top: 55px;
}
.aboutAdditional__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #595757;
  margin-bottom: 4px;
}
.aboutAdditional__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #595757;
}

/* "About me" section styles end here */
/* "Review" section styles */
.reviewTop {
  margin-top: 75px;
  margin-bottom: 65px;
}

.reviewBottom {
  background-color: #f2f0f0;
}
.reviewBottom__slider {
  padding: 74px 0px 50px 0px;
}
.reviewBottom__slide {
  padding: 27px 30px;
  background-color: #FFFFFF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  max-width: 475px;
  width: 100%;
  height: 439px;
  margin-right: 15px;
}
.reviewBottom__slide--photo {
  width: 118px;
  height: 118px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.reviewBottom__slide--name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #595757;
  margin-bottom: 15px;
}
.reviewBottom__slide--text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #595757;
  text-align: center;
}
.reviewBottom__slide--date {
  margin-top: auto;
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #595757;
  border-bottom: 1px solid #595757;
  margin-bottom: 6px;
}
.reviewBottom__slide--tour {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #595757;
  position: relative;
}
.reviewBottom__slide--tour::before {
  content: "-";
  position: absolute;
  left: -10px;
}
.reviewBottom .slick-prev.slick-arrow,
.reviewBottom .slick-next.slick-arrow {
  background: none;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  width: 79px;
  height: 79px;
  background-image: url("../img/mainContent/reviewLeftArrow.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -145px;
  right: 95px;
  cursor: pointer;
}
.reviewBottom .slick-next.slick-arrow {
  background-image: url("../img/mainContent/reviewRightArrow.png");
  top: -145px;
  right: 0;
}
.reviewBottom .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.reviewBottom .slick-dots li + li {
  margin-left: 10px;
}
.reviewBottom .slick-dots li button {
  padding: 0;
  background: none;
  border: 2px solid #595757;
  border-radius: 50%;
  outline: none;
  font-size: 0;
  line-height: 0;
  width: 12px;
  height: 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reviewBottom .slick-dots li.slick-active button {
  background: #595757;
}

/* "Review" section styles */
/* "Contacts" section styles */
.contacts {
  padding: 50px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #f2f0f0;
  margin-bottom: 15px;
}
.contacts__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #f2f0f0;
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.contacts__form--input {
  border: none;
  outline: none;
  height: 59px;
  border-radius: 10px;
  background-color: #f2f0f0;
  padding: 0px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #595757;
  margin-bottom: 14px;
}
.contacts__form--input::-webkit-input-placeholder {
  opacity: 0.8;
}
.contacts__form--input::-moz-placeholder {
  opacity: 0.8;
}
.contacts__form--input:-ms-input-placeholder {
  opacity: 0.8;
}
.contacts__form--input::-ms-input-placeholder {
  opacity: 0.8;
}
.contacts__form--input::placeholder {
  opacity: 0.8;
}
.contacts__form--text {
  border: none;
  outline: none;
  height: 206px;
  border-radius: 10px;
  resize: none;
  background-color: #f2f0f0;
  padding: 10px 25px;
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-columns: #595757;
  -moz-columns: #595757;
  columns: #595757;
}
.contacts__form--text::-webkit-input-placeholder {
  opacity: 0.8;
}
.contacts__form--text::-moz-placeholder {
  opacity: 0.8;
}
.contacts__form--text:-ms-input-placeholder {
  opacity: 0.8;
}
.contacts__form--text::-ms-input-placeholder {
  opacity: 0.8;
}
.contacts__form--text::placeholder {
  opacity: 0.8;
}
.contacts__form--submit {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px 25px;
  background-color: #ed5b5b;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #f2f0f0;
}
.contacts__thirdParty {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #f2f0f0;
  text-align: center;
  margin-bottom: 35px;
}
.contacts__call {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f2f0f0;
  text-align: center;
  margin-top: 15px;
}
.contacts__call--link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ed5b5b;
}

/* End of "Contacts" section styles */
/* Login pgae styles */
.loginPage {
  background-color: #f2f0f0;
  min-height: 80vh;
  padding-top: 20px;
  text-align: center;
}
.loginPage .header__logo {
  border-left: 1px solid #595757;
  border-right: 1px solid #595757;
  display: inline-block;
  margin-bottom: 80px;
}
.loginPage .header__logo--name,
.loginPage .header__logo--desc {
  color: #595757;
}
.loginPage__login {
  max-width: 300px;
  width: 100%;
  min-height: 250px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}
.loginPage__form {
  max-width: 270px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 200px;
}
.loginPage__form--heading {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.loginPage__form--input {
  max-width: 230px;
  width: 100%;
  background-color: #f2f0f0;
  min-height: 40px;
  padding-left: 25px;
  padding-right: 20px;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.loginPage__form--button {
  max-width: 230px;
  width: 100%;
  background-color: #595757;
  padding: 9px;
  text-transform: uppercase;
  color: #f2f0f0;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  display: block;
  margin-top: auto;
}
.loginPage__form--passwordRecovery {
  margin-top: 20px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5e87f7;
}

/* End of Login page styles */
.footer {
  margin-top: auto;
  background-color: #595757;
  padding-top: 45px;
  padding-bottom: 40px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 35px;
}
.footer__nav li + li {
  margin-left: 25px;
}
.footer__nav--link {
  font-family: "VetrinoRegular";
  font-weight: 400;
  font-size: 15px;
  color: #f2f0f0;
}
.footer__extensions {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #f2f0f0;
  text-align: center;
  margin-bottom: 37px;
}
.footer__designBy {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #f2f0f0;
  text-align: center;
}
.footer__disignBy--link {
  color: #ed5b5b;
}

/* Main style sheet ends here */
@media (max-width: 1600px) {
  .tours {
    padding-top: 15px;
  }
  .section__heading {
    font-size: 55px;
  }
  .tours__top {
    margin-bottom: 40px;
  }
  .tours__desc--heading {
    font-size: 22px;
  }
  .tours__desc--text {
    font-size: 16px;
  }
  .tours__tabs--button {
    max-width: 195px;
    height: 55px;
    font-size: 18px;
  }
  .tours__tab {
    padding: 25px;
  }
  .tours__tab,
.tours__tabs--bottom {
    min-height: 590px;
  }
  .tours__tabs--slide {
    min-height: 430px;
  }
  .tours__tabs--heading {
    font-size: 32px;
    margin-bottom: 45px;
  }
  .tours__tabs--heading::after {
    bottom: -20px;
  }
  .tours__tabs--slide__heading {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
@media (max-width: 1366px) {
  .mainScreen__heading {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 42px;
    margin-bottom: 25vh;
  }
  .tours {
    padding-top: 20px;
  }
  .section__heading {
    font-size: 42px;
    line-height: 55px;
  }
  .section__heading--desc {
    font-size: 14px;
  }
  .tours__desc--heading {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .tours__desc--text {
    font-size: 14px;
    line-height: 18px;
  }
  .tours__top {
    margin-bottom: 20px;
  }
  .tours__tabs--button {
    font-size: 14px;
  }
  .tours__tabs--button:first-child::before,
.tours__tabs--button::after {
    height: 35px;
  }
  .tours__tab,
.tours__tabs--bottom {
    min-height: 520px;
  }
  .tours__tab {
    padding-top: 20px;
  }
  .tours__tabs--heading {
    font-size: 24px;
  }
  .tours__tabs--heading::after {
    bottom: -9px;
  }
  .tours__tabs--slide {
    min-height: 340px;
  }
  .tours__tabs--slide__heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .tours__tabs--slide__type {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .tours__tabs--slide__desc {
    font-size: 15px;
    line-height: 20px;
  }
  .tours__tabs--slide__link {
    margin-top: auto;
    padding: 18px 70px;
  }
  .reviewTop {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .reviewBottom .slick-prev.slick-arrow,
.reviewBottom .slick-next.slick-arrow {
    top: -97px;
    width: 65px;
    height: 65px;
  }
  .reviewBottom__slider {
    padding: 25px 0px 20px 0px;
  }
  .reviewBottom__slide--photo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  .reviewBottom__slide {
    height: 398px;
  }
  .reviewBottom__slide--text {
    font-size: 11px;
    line-height: 16px;
  }
  .contacts {
    padding-top: 15px;
  }
  .contacts__heading {
    font-size: 36px;
  }
  .contacts__desc {
    font-size: 14px;
    margin-bottom: 17px;
  }
  .contacts__form {
    width: 460px;
  }
  .contacts__form--input {
    height: 35px;
    font-size: 14px;
    border-radius: 7px;
  }
  .contacts__form--text {
    height: 147px;
    border-radius: 7px;
    font-size: 14px;
  }
  .contacts__thirdParty {
    margin-bottom: 15px;
  }
  .about {
    padding: 40px 0px;
  }
  .about__desc {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .about__text {
    font-size: 16px;
    margin-right: 15px;
  }
  .about__photo {
    width: 497px;
    height: 297px;
  }
  .aboutAdditional__heading {
    font-size: 30px;
  }
  .aboutAdditional__text {
    font-size: 16px;
  }
  .aboutAdditional__line {
    padding-left: 157px;
  }
  .aboutAdditional__line:first-child::before {
    width: 55px;
    height: 36px;
  }
  .aboutAdditional__line:nth-child(2)::before {
    width: 55px;
    height: 58px;
  }
  .aboutAdditional__line:nth-child(3)::before {
    width: 67px;
    height: 62px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .mainScreen__button {
    padding: 20px 70px;
  }
  .tours__tabs--button {
    max-width: 150px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
  .tours__tabs--slide__desc {
    max-width: 665px;
  }
  .tours__tabs--slider .slick-next.slick-arrow,
.tours__tabs--slider .slick-prev.slick-arrow {
    width: 50px;
    height: 50px;
  }
  .about__photo {
    width: 341px;
    height: 227px;
  }
  .section__heading {
    font-size: 36px;
  }
  .about__desc {
    font-size: 16px;
  }
  .about__text {
    font-size: 13px;
  }
  .aboutAdditional__heading {
    font-size: 26px;
  }
  .aboutAdditional__text {
    font-size: 14px;
  }
  .header__phone {
    margin-left: auto;
  }
  .header__burger {
    display: block;
  }
  .header__menu {
    position: absolute;
    width: 440px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 130px;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header__menu.active {
    height: 30px;
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 10px 0px 10px;
  }
  .header__logo--name {
    font-size: 16px;
  }
  .header__logo--desc {
    font-size: 10px;
  }
  .header__logo {
    max-width: 195px;
    padding: 5px 7px;
  }
  .header__menu {
    top: 82px;
  }
  .mainScreen__heading {
    font-size: 38px;
  }
  .tours__tabs--button {
    max-width: 120px;
    font-size: 12px;
    line-height: 16px;
    height: 37px;
  }
  .tours__tabs--button:first-child::before,
.tours__tabs--button::after {
    height: 18px;
    width: 2px;
  }
  .tours__tabs--heading {
    font-size: 21px;
  }
  .tours__tabs--heading::after {
    height: 3px;
  }
  .tours__tabs--slide__heading {
    font-size: 18px;
  }
  .individualRoute {
    padding: 25px;
  }
  .individualRoute__heading {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .individualRoute__text {
    font-size: 14px;
  }
  .individualRoute__link {
    padding: 12px 60px;
  }
  .reviewBottom__slide {
    height: 360px;
  }
  .about__inner {
    align-items: center;
  }
  .about__photo {
    width: 272px;
    height: 176px;
  }
}
@media (max-width: 838px) {
  .tours__tabs--slide__desc {
    max-width: 390px;
  }
  .tours__tab,
.tours__tabs--bottom {
    min-height: 542px;
  }
  .tours__tabs--slide {
    min-height: 395px;
  }
  .tours__tabs--heading {
    margin-bottom: 35px;
  }
  .tours__tabs--slide__desc {
    font-size: 13px;
  }
  .tours__tabs--button {
    max-width: 95px;
  }
  .tours__desc--box {
    max-width: 300px;
  }
  .tours__tabs--slide__link {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .header__logo {
    z-index: 5;
  }
  .header__logo--name {
    font-size: 14px;
    line-height: 14px;
  }
  .header__burger {
    margin-left: 17px;
    z-index: 5;
  }
  .header__phone--number {
    margin-left: 15px;
    padding: 10px;
    border-radius: 6px;
  }
  .mainScreen__heading {
    font-size: 28px;
  }
  .section__heading {
    font-size: 28px;
    line-height: 32px;
  }
  .section__heading--desc {
    font-size: 12px;
  }
  .tours__desc--heading {
    font-size: 14px;
  }
  .tours__desc--text {
    font-size: 12px;
  }
  .tours__tabs--top {
    flex-direction: column;
    align-items: center;
  }
  .tours__tabs--button {
    max-width: 90%;
    justify-content: start;
    color: #595757;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    transition: all 0.5s ease;
    z-index: 500;
  }
  .tours__tabs--button::before {
    display: none;
  }
  .tours__tabs--button::after {
    display: none;
  }
  .tours__tabs--button span {
    width: 15px;
    height: 15px;
    position: relative;
    transition: all 1.5s ease;
  }
  .tours__tabs--button span::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 2px;
    background-color: #595757;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    transition: all 1.5s ease;
  }
  .tours__tabs--button span::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #595757;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: all 1.5s ease;
  }
  .tours__tabs--button.active {
    color: #f2f0f0;
    margin-bottom: 388px;
  }
  .tours__tabs--button.active span {
    transform: rotate(720deg);
  }
  .tours__tabs--button.active span::before {
    opacity: 0;
  }
  .tours__tabs--button.active span::after {
    background-color: #f2f0f0;
  }
  .tours__tab {
    padding: 10px;
  }
  .tours__tab:first-child {
    top: -573px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:nth-child(2) {
    top: -536px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:nth-child(3) {
    top: -499px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:nth-child(4) {
    top: -462px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:nth-child(5) {
    top: -425px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:nth-child(6) {
    top: -388px;
    height: 0;
    transition: all 0.3s ease;
  }
  .tours__tab:first-child.active,
.tours__tab:nth-child(2).active,
.tours__tab:nth-child(3).active,
.tours__tab:nth-child(4).active,
.tours__tab:nth-child(5).active,
.tours__tab:nth-child(6).active {
    min-height: 388px;
  }
  .tours__tabs--bottom {
    display: block;
    height: 0 !important;
    min-height: 0;
  }
  .tours__tabs--heading {
    font-size: 18px;
    margin-bottom: 21px;
  }
  .tours__tabs--slide__heading {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .tours__tabs--slide__type {
    margin-bottom: 14px;
    font-size: 13px;
  }
  .tours__tabs--slide__desc {
    max-width: 490px;
    font-size: 12px;
  }
  .tours__tabs--slide {
    min-height: 284px;
  }
  .tours__tabs--slide__link {
    padding: 12px 60px;
    border-radius: 7px;
  }
  .about__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__text {
    margin-bottom: 20px;
  }
  .aboutAdditional__line {
    padding: 0;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
  }
  .aboutAdditional__line::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .aboutAdditional__heading {
    margin-bottom: 20px;
  }
  .tours__tabs--slider .slick-next.slick-arrow,
.tours__tabs--slider .slick-prev.slick-arrow {
    display: none !important;
  }
  .header__phone--social {
    width: 15px;
    height: 15px;
  }
  .contacts__heading {
    font-size: 28px;
  }
  .contacts__desc {
    font-size: 12px;
  }
  .contacts__form {
    width: 380px;
  }
}
@media (max-width: 500px) {
  .header__logo.active {
    position: relative;
    border-left: 2px solid #595757;
    border-right: 2px solid #595757;
  }
  .header__logo.active .header__logo--name,
.header__logo.active .header__logo--desc {
    color: #595757;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    background-color: #f2f0f0;
    position: fixed;
    width: 500px;
    z-index: -5;
  }
  .header__menu.active {
    height: 100%;
    top: 0;
    z-index: 2;
  }
  .header__burger.active::before,
.header__burger.active::after {
    background-color: #595757;
    z-index: 5;
  }
  .header__menu--ul {
    flex-direction: column;
  }
  .header__menu--ul li {
    margin-bottom: 40px;
    text-align: center;
  }
  .header__menu--ul li + li {
    margin-left: 0;
  }
  .header__menu--link {
    font-size: 40px;
    color: #595757;
  }
  .header__phone--social {
    display: none;
  }
  .tours__top {
    flex-direction: column;
    text-align: center;
  }
  .tours__tabs--heading {
    display: none;
  }
  .tours__tabs--slide__heading {
    margin-top: 0;
  }
  .tours__tabs--slide__desc {
    font-size: 12px;
  }
  .tours__tabs--slider .slick-dots {
    margin-top: 0px;
  }
  .tours__tab:first-child.active,
.tours__tab:nth-child(2).active,
.tours__tab:nth-child(3).active,
.tours__tab:nth-child(4).active,
.tours__tab:nth-child(5).active,
.tours__tab:nth-child(6).active {
    min-height: 339px;
  }
  .tours__tabs--button.active {
    margin-bottom: 339px;
  }
  .tours__tab:first-child {
    top: -524px;
  }
  .tours__tab:nth-child(2) {
    top: -487px;
  }
  .tours__tab:nth-child(3) {
    top: -450px;
  }
  .tours__tab:nth-child(4) {
    top: -413px;
  }
  .tours__tab:nth-child(5) {
    top: -376px;
  }
  .tours__tab:nth-child(6) {
    top: -388px;
  }
  .section__heading--desc {
    margin-bottom: 20px;
  }
  .aboutAdditional__heading {
    font-size: 22px;
  }
  .aboutAdditional__text {
    font-size: 12px;
    line-height: 16px;
  }
  .reviewBottom__slide {
    max-width: 250px;
    height: 470px;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__logo {
    max-width: 151px;
  }
  .header__logo--name {
    font-size: 12px;
  }
  .header__logo--desc {
    font-size: 8px;
  }
  .header__phone--number {
    font-size: 8px;
    font-weight: 600;
  }
  .section__heading {
    font-size: 22px;
  }
  .section__heading--desc {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .tours__desc--heading {
    display: none;
  }
  .tours__desc--text {
    display: none;
  }
  .tours__tabs--slide__type {
    margin-top: 8px;
  }
  .tours__tabs--slide__desc {
    max-width: 295px;
  }
  .tours__tabs--button.active {
    margin-bottom: 364px;
  }
  .tours__tab:first-child.active,
.tours__tab:nth-child(2).active,
.tours__tab:nth-child(3).active,
.tours__tab:nth-child(4).active,
.tours__tab:nth-child(5).active,
.tours__tab:nth-child(6).active {
    min-height: 364px;
  }
  .tours__tabs--slide {
    min-height: 320px;
  }
  .tours__tabs--slide__link {
    margin-bottom: 0;
  }
  .tours__tabs--slide__desc {
    max-width: 360px;
  }
  .tours__tab:first-child {
    top: -549px;
  }
  .tours__tab:nth-child(2) {
    top: -512px;
  }
  .tours__tab:nth-child(3) {
    top: -475px;
  }
  .tours__tab:nth-child(4) {
    top: -438px;
  }
  .tours__tab:nth-child(5) {
    top: -401px;
  }
  .tours__tab:nth-child(6) {
    top: -364px;
  }
  .individualRoute__heading {
    font-size: 22px;
  }
  .individualRoute__text {
    font-size: 12px;
  }
  .contacts__form {
    width: 295px;
  }
  .contacts__call {
    font-size: 14px;
  }
  .tours__tabs--slide__desc {
    line-height: 18px;
  }
  .header__phone--number {
    margin-left: 7px;
  }
  .header__menu--link {
    font-size: 30px;
  }
  .reviewBottom .slick-prev.slick-arrow,
.reviewBottom .slick-next.slick-arrow {
    width: 40px;
    height: 40px;
    top: -72px;
  }
}