
// "Montserrat" font implementation from Google cdn
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

@mixin mon300 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@mixin mon400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
@mixin mon600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
@mixin mon700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@mixin mon800 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

// "Vetrino regular" font implementation with font-face
@font-face {
    font-family: 'VetrinoRegular';
    src: url('../fonts/VetrinoRegular.eot');
    src: url('../fonts/VetrinoRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VetrinoRegular.svg#VetrinoRegular') format('svg'),
         url('../fonts/VetrinoRegular.ttf') format('truetype'),
         url('../fonts/VetrinoRegular.woff') format('woff'),
         url('../fonts/VetrinoRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @mixin vet400 {
    font-family: 'VetrinoRegular';
    font-weight: 400;
  }