html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.lock{
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.errorrMsg{
    padding: 9px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #ff7575;
    border-radius: 7px;
    @include mon400;
    font-size: 14px;
    color: $textWhite;
    margin-bottom: 20px;
}

.section__heading{
    @include vet400;
    font-size: 70px;
    line-height: 70px;
    color: $buttonRed;
    margin-bottom: 6px;
}
.section__heading--desc{
    @include mon400;
    font-size: 17px;
    line-height: 17px;
    color: $textGrey;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* Pagination styles */
.pagination{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    &__ul{
        display: flex;
        li + li{
            margin-left: 4px;
        }
    }
    &__li{
        width: 25px;
        height: 25px;
        background-color: $textWhite;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
        &:hover{
            background-color: #d6dce6;
        }
    }
    &__link{
        @include mon600;
        font-size: 14px;
        color: $textGrey;
    }
}