html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.lock{
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.section__heading{
    @include vet400;
    font-size: 70px;
    line-height: 70px;
    color: $buttonRed;
    margin-bottom: 6px;
}
.section__heading--desc{
    @include mon400;
    font-size: 17px;
    line-height: 17px;
    color: $textGrey;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}