html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.lock{
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.invisible-heading{
    font-size: 0;
    line-height: 0px;
}

.errorrMsg,
.successMsg{
    padding: 9px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #ff7575;
    border-radius: 7px;
    @include mon400;
    font-size: 14px;
    color: $textWhite;
    margin: 0 auto;
    margin-bottom: 20px;
}
.successMsg{
    background-color: #0acc54;
}

.section__heading{
    @include vet400;
    font-size: 70px;
    line-height: 70px;
    color: $buttonRed;
    margin-bottom: 6px;
}
.section__heading--desc{
    @include mon400;
    font-size: 17px;
    line-height: 17px;
    color: $textGrey;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.justify-content-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin__form--heading{
    @include mon600;
    font-size: 16px;
    color: $textGrey;
    margin-bottom: 30px;
}
.admin__form{
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
}
.admin__input--label{
    display: flex;
    flex-direction: column;
    @include mon400;
    font-size: 14px;
    color: $textGrey;
    p{
        margin-bottom: 5px;
        padding-left: 10px;
    }
}
.admin__input--text{
    width: 100%;
    margin-bottom: 15px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: $textWhite;
    border-radius: 5px;
    @include mon400;
    color: $textGrey;
    font-size: 14px;
}
.admin__input--select,
.admin__input--select__multiple{
    background-color: $textWhite;
    border: none;
    outline: none;
    @include mon400;
    font-size: 14px;
    color: $textGrey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.admin__input--checkbox{
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 15px;
}
.admin__input--select__multiple{
    min-height: 350px;
}
.admin__input--textarea{
    width: 100%;
    resize: none;
    min-height: 250px;
    @include mon400;
    font-size: 14px;
    color: $textGrey;
    background-color: $textWhite;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}
.admin__editAvatar--preview{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.admin__nothing--else__matters{
    @include mon400;
    font-size: 16px;
    color: $textGrey;
}
.admin__input--file__button{
    @include mon400;
    font-size: 14px;
    line-height: 26px;
    background-color: $textWhite;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px;
    cursor: pointer;
}

.admin__form--submit{
    max-width: 200px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: $textWhite;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
    @include mon600;
    font-size: 16px;
    color: $textGrey;
    &:hover{
        background-color: #d6dce6;
    }
}
.admin__review--avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-bottom: 3px;
}
.admin__visibility--check{
    width: 15px;
    height: 15px;
    margin-right: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// Charts
.admin__chratWrapper{
    display: flex;
    justify-content: space-between;
}
.admin__chart--devicesChart,
.admin__chart--devicesChart__wide{
    width: 400px;
    height: 250px !important;
    border-radius: 10px;
}
.admin__chart--devicesChart__wide{
    width: 100%;
    margin-bottom: 30px;
}

/* Pagination styles */
.pagination{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    &__ul{
        display: flex;
        li + li{
            margin-left: 4px;
        }
    }
    &__li{
        width: 25px;
        height: 25px;
        background-color: $textWhite;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
        &:hover{
            background-color: #d6dce6;
        }
    }
    &__link{
        @include mon600;
        font-size: 14px;
        color: $textGrey;
    }
}