// HD+ (1600 x 900)
@media (max-width: 1600px){
    .tours{
        padding-top: 15px;
    }
    .section__heading{
        font-size: 55px;
    }
    .tours__top{
        margin-bottom: 40px;
    }
    .tours__desc--heading{
        font-size: 22px;
    }
    .tours__desc--text{
        font-size: 16px;
    }
    .tours__tabs--button{
        max-width: 195px;
        height: 55px;
        font-size: 18px;
    }
    .tours__tab{
        padding: 25px;
    }
    .tours__tab,
    .tours__tabs--bottom{
        min-height: 590px;
    }
    .tours__tabs--slide{
        min-height: 430px;
    }
    .tours__tabs--heading{
        font-size: 32px;
        margin-bottom: 45px;
        &::after{
            bottom: -20px;
        }
    }
    .tours__tabs--slide__heading{
        font-size: 24px;
        margin-bottom: 35px;
    }
}

// HD (1366 x 768)
@media (max-width: 1366px){
    .mainScreen__heading{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        font-size: 42px;
        margin-bottom: 25vh;
    }
    .tours{
        padding-top: 20px;
    }
    .section__heading{
        font-size: 42px;
        line-height: 55px;
    }
    .section__heading--desc{
        font-size: 14px;
    }
    .tours__desc--heading{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .tours__desc--text{
        font-size: 14px;
        line-height: 18px;
    }
    .tours__top{
        margin-bottom: 20px;
    }
    .tours__tabs--button{
        font-size: 14px;
    }
    .tours__tabs--button:first-child::before,
    .tours__tabs--button::after{
        height: 35px;
    }
    .tours__tab,
    .tours__tabs--bottom{
        min-height: 520px;
    }
    .tours__tab{
        padding-top: 20px;
    }
    .tours__tabs--heading{
        font-size: 24px;
    }
    .tours__tabs--heading::after{
        bottom: -9px;
    }
    .tours__tabs--slide{
        min-height: 340px;
    }
    .tours__tabs--slide__heading{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .tours__tabs--slide__type{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .tours__tabs--slide__desc{
        font-size: 15px;
        line-height: 20px;
    }
    .tours__tabs--slide__link{
        margin-top: auto;
        padding: 18px 70px;
    }
    .reviewTop{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .reviewBottom .slick-prev.slick-arrow,
    .reviewBottom .slick-next.slick-arrow{
        top: -97px;
        width: 65px;
        height: 65px;
    }
    .reviewBottom__slider{
        padding: 25px 0px 20px 0px;
    }
    .reviewBottom__slide--photo{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    .reviewBottom__slide{
        height: 398px;
    }
    .reviewBottom__slide--text{
        font-size: 11px;
        line-height: 16px;
    }
    .contacts{
        padding-top: 15px;
    }
    .contacts__heading{
        font-size: 36px;
    }
    .contacts__desc{
        font-size: 14px;
        margin-bottom: 17px;
    }
    .contacts__form{
        width: 460px;
    }
    .contacts__form--input{
        height: 35px;
        font-size: 14px;
        border-radius: 7px;
    }
    .contacts__form--text{
        height: 147px;
        border-radius: 7px;
        font-size: 14px;
    }
    .contacts__thirdParty{
        margin-bottom: 15px;
    }
    .about{
        padding: 40px 0px;
    }
    .about__desc{
        font-size: 18px;
        margin-bottom: 24px;
    }
    .about__text{
        font-size: 16px;
        margin-right: 15px;
    }
    .about__photo{
        width: 497px;
        height: 297px;
    }
    .aboutAdditional__heading{
        font-size: 30px;
    }
    .aboutAdditional__text{
        font-size: 16px;
    }
    .aboutAdditional__line{
        padding-left: 157px;
    }
    .aboutAdditional__line:first-child::before{
        width: 55px;
        height: 36px;
    }
    .aboutAdditional__line:nth-child(2)::before{
        width: 55px;
        height: 58px;
    }
    .aboutAdditional__line:nth-child(3)::before{
        width: 67px;
        height: 62px;
    }
}

// Max-width - 1200px
@media (max-width: 1200px){
    .container{
        max-width: 1100px;
    }
    .mainScreen__button{
        padding: 20px 70px;
    }
    .tours__tabs--button{
        max-width: 150px;
    }
}

// Max-width - 1100px
@media (max-width: 1100px){
    .container{
        max-width: 900px;
    }
    .tours__tabs--slide__desc{
        max-width: 665px;
    }
    .tours__tabs--slider .slick-next.slick-arrow,
    .tours__tabs--slider .slick-prev.slick-arrow{
        width: 50px;
        height: 50px;
    }
    .about__photo{
        width: 341px;
        height: 227px;
    }
    .section__heading{
        font-size: 36px;
    }
    .about__desc{
        font-size: 16px;
    }
    .about__text{
        font-size: 13px;
    }
    .aboutAdditional__heading{
        font-size: 26px;
    }
    .aboutAdditional__text {
        font-size: 14px;
    }
    .header__phone{
        margin-left: auto;
    }
    .header__burger{
        display: block;
    }
    .header__menu{
        position: absolute;
        width: 440px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 130px;
        height: 0;
        opacity: 0;
        transition: all .3s ease;
    }
    .header__menu.active{
        height: 30px;
        opacity: 1;
    }
}

// Max-width - 900px
@media(max-width: 900px){
    .header{
        padding: 10px 0px 10px;
    }
    .header__logo--name{
        font-size: 16px;
    }
    .header__logo--desc{
        font-size: 10px;
    }
    .header__logo{
        max-width: 195px;
        padding: 5px 7px;
    }
    .header__menu{
        top: 82px;
    }
    .mainScreen__heading{
        font-size: 38px;
    }
    .tours__tabs--button{
        max-width: 120px;
        font-size: 12px;
        line-height: 16px;
        height: 37px;
    }
    .tours__tabs--button:first-child::before,
    .tours__tabs--button::after{
        height: 18px;
        width: 2px;
    }
    .tours__tabs--heading{
        font-size: 21px;
    }
    .tours__tabs--heading::after{
        height: 3px;
    }
    .tours__tabs--slide__heading{
        font-size: 18px;
    }
    .individualRoute{
        padding: 25px;
    }
    .individualRoute__heading{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .individualRoute__text{
        font-size: 14px;
    }
    .individualRoute__link{
        padding: 12px 60px;
    }
    .reviewBottom__slide{
        height: 360px;
    }
    .about__inner{
        align-items: center;
    }
    .about__photo{
        width: 272px;
        height: 176px;
    }
}

// Max width - 838px
@media (max-width: 838px){
    .tours__tabs--slide__desc{
        max-width: 390px;
    }
    .tours__tab,
    .tours__tabs--bottom{
        min-height: 542px;
    }
    .tours__tabs--slide{
        min-height: 395px;
    }
    .tours__tabs--heading{
        margin-bottom: 35px;
    }
    .tours__tabs--slide__desc{
        font-size: 13px;
    }
    .tours__tabs--button{
        max-width: 95px;
    }
    .tours__desc--box{
        max-width: 300px;
    }
    .tours__tabs--slide__link{
        margin-bottom: 10px;
    }
    .tours__tabs--slider .slick-dots{
    }
}

// Max width - 600px
@media (max-width: 600px){
    .header__logo{
        z-index: 5;
    }
    .header__logo--name{
        font-size: 14px;
        line-height: 14px;
    }
    .header__burger{
        margin-left: 17px;
        z-index: 5;
    }
    .header__phone--number{
        margin-left: 15px;
        padding: 10px;
        border-radius: 6px;
    }
    .mainScreen__heading{
        font-size: 28px;
    }
    .section__heading{
        font-size: 28px;
        line-height: 32px;
    }
    .section__heading--desc{
        font-size: 12px;
    }
    .tours__desc--heading{
        font-size: 14px;
    }
    .tours__desc--text{
        font-size: 12px;
    }
    .tours__tabs--top{
        flex-direction: column;
        align-items: center;
    }
    .tours__tabs--button{
        max-width: 90%;
        justify-content: start;
        color: $textGrey;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        transition: all .5s ease;
        z-index: 500;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
        & span{
            width: 15px;
            height: 15px;
            position: relative;
            transition: all 1.5s ease;
            &::before{
                content: '';
                position: absolute;
                height: 15px;
                width: 2px;
                background-color: $textGrey;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                opacity: 1;
                transition: all 1.5s ease;
            }
            &::after{
                content: '';
                position: absolute;
                width: 15px;
                height: 2px;
                background-color: $textGrey;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                transition: all 1.5s ease;
            }
        }
        &.active{
            color: $textWhite;
            margin-bottom: 388px;
            & span{
                transform: rotate(720deg);
                &::before{
                    opacity: 0;
                }
                &::after{
                    background-color: $textWhite;
                }
            }
        }
        
    }
    .tours__tab{
        padding: 10px;
    }
    .tours__tab:first-child{
        top: -573px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:nth-child(2){
        top: -536px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:nth-child(3){
        top: -499px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:nth-child(4){
        top: -462px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:nth-child(5){
        top: -425px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:nth-child(6){
        top: -388px;
        height: 0;
        transition: all .3s ease;
    }
    .tours__tab:first-child.active,
    .tours__tab:nth-child(2).active,
    .tours__tab:nth-child(3).active,
    .tours__tab:nth-child(4).active,
    .tours__tab:nth-child(5).active,
    .tours__tab:nth-child(6).active{
        min-height: 388px;;
    }
    .tours__tabs--bottom{
        display: block;
        height: 0 !important;
        min-height: 0;
    }
    .tours__tabs--heading{
        font-size: 18px;
        margin-bottom: 21px;
    }
    .tours__tabs--slide__heading{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .tours__tabs--slide__type{
        margin-bottom: 14px;
        font-size: 13px;
    }
    .tours__tabs--slide__desc{
        max-width: 490px;
        font-size: 12px;
    }
    .tours__tabs--slide{
        min-height: 284px;
    }
    .tours__tabs--slide__link{
        padding: 12px 60px;
        border-radius: 7px;
    }
    .about__inner{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about__text{
        margin-bottom: 20px;
    }
    .aboutAdditional__line{
        padding: 0;
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
    }
    .aboutAdditional__line::before{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .aboutAdditional__heading{
        margin-bottom: 20px;
    }
    .tours__tabs--slider .slick-next.slick-arrow,
    .tours__tabs--slider .slick-prev.slick-arrow{
        display: none !important;
    }
    .header__phone--social{
        width: 15px;
        height: 15px;
    }
    .contacts__heading{
        font-size: 28px;
    }
    .contacts__desc{
        font-size: 12px;
    }
    .contacts__form{
        width: 380px;
    }
}

// Max width - 500px
@media (max-width: 500px){
    
    .header__logo.active{
        position: relative;
        border-left: 2px solid $textGrey;
        border-right: 2px solid $textGrey;
        .header__logo--name,
        .header__logo--desc{
            color: $textGrey;
        }
    }
    .header__menu{
        display: flex;
        justify-content: center;
        background-color: $textWhite;
        position: fixed;
        width: 500px;
        z-index: -5;
        &.active{
            height: 100%;
            top: 0;
            z-index: 2;
        }
    }
    .header__burger.active::before,
    .header__burger.active::after{
        background-color: $textGrey;
        z-index: 5;
    }
    .header__menu--ul{
        flex-direction: column;
        li{
            margin-bottom: 40px;
            text-align: center;
        }
        li + li{
            margin-left: 0;
        }
    }
    .header__menu--link{
        font-size: 40px;
        color: $textGrey;
    }
    .header__phone{
        align-items: center;
        a + a{
            margin-left: 3px;
        }
    }
    .header__phone--social{
        width: 15px;
        height: 15px;
        &:nth-child(3){
            display: none;
        }
    }
    .tours__top{
        flex-direction: column;
        text-align: center;
    }
    .tours__tabs--heading{
        display: none;
    }
    .tours__tabs--slide__heading{
        margin-top: 0;
    }
    .tours__tabs--slide__desc{
        font-size: 12px;
    }
    .tours__tabs--slider .slick-dots{
        margin-top: 0px;
    }
    .tours__tab:first-child.active,
    .tours__tab:nth-child(2).active,
    .tours__tab:nth-child(3).active,
    .tours__tab:nth-child(4).active,
    .tours__tab:nth-child(5).active,
    .tours__tab:nth-child(6).active{
        min-height: 339px;
    }
    .tours__tabs--button.active{
        margin-bottom: 339px;
    }
    .tours__tab:first-child{
        top: -524px;
    }
    .tours__tab:nth-child(2){
        top: -487px;
    }
    .tours__tab:nth-child(3){
        top: -450px;
    }
    .tours__tab:nth-child(4){
        top: -413px;
    }
    .tours__tab:nth-child(5){
        top: -376px;
    }
    .tours__tab:nth-child(6){
        top: -388px;
    }
    .section__heading--desc{
        margin-bottom: 20px;
    }
    .aboutAdditional__heading{
        font-size: 22px;
    }
    .aboutAdditional__text{
        font-size: 12px;
        line-height: 16px;
    }
    .reviewBottom__slide{
        max-width: 250px;
        height: 470px;
    }
    .footer__nav{
        flex-direction: column;
        align-items: center;
        li + li {
            margin-left: 0;
        }
    }
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

// Max width - 420px
@media (max-width: 420px){
    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__logo{
        max-width: 151px;
    }
    .header__logo--name{
        font-size: 12px;
    }
    .header__logo--desc{
        font-size: 8px;
    }
    .header__phone--number{
        font-size: 8px;
        font-weight: 600;
    }
    .section__heading{
        font-size: 22px;
    }
    .section__heading--desc{
        font-size: 10px;
        margin-bottom: 8px;
    }
    .tours__desc--heading{
        display: none;
    }
    .tours__desc--text{
        display: none;
    }
    .tours__tabs--slide__type{
        margin-top: 8px;
    }
    .tours__tabs--slide__desc{
        max-width: 295px;
    }
    .tours__tabs--button.active{
        margin-bottom: 364px;
    }
    .tours__tab:first-child.active,
    .tours__tab:nth-child(2).active,
    .tours__tab:nth-child(3).active,
    .tours__tab:nth-child(4).active,
    .tours__tab:nth-child(5).active,
    .tours__tab:nth-child(6).active{
        min-height: 364px;
    }
    .tours__tabs--slide{
        min-height: 320px;
    }
    .tours__tabs--slide__link{
        margin-bottom: 0;
    }
    .tours__tabs--slide__desc{
        max-width: 360px;
    }
    .tours__tab:first-child{
        top: -549px;
    }
    .tours__tab:nth-child(2){
        top: -512px;
    }
    .tours__tab:nth-child(3){
        top: -475px;
    }
    .tours__tab:nth-child(4){
        top: -438px;
    }
    .tours__tab:nth-child(5){
        top: -401px;
    }
    .tours__tab:nth-child(6){
        top: -364px;
    }
    .individualRoute__heading{
        font-size: 22px;
    }
    .individualRoute__text{
        font-size: 12px;
    }
    .contacts__form{
        width: 295px;
    }
    .contacts__call{
        font-size: 14px;
    }
    .tours__tabs--slide__desc{
        line-height: 18px;
    }
    .header__phone--number{
        margin-left: 7px;
    }
    .header__menu--link{
        font-size: 30px;
    }
    .reviewBottom .slick-prev.slick-arrow,
    .reviewBottom .slick-next.slick-arrow{
        width: 40px;
        height: 40px;
        top: -72px;
    }
}