

// All colors variables

// Brand colors

$brandBlue: #0EA5EA;
$brandBlueLight: #1CC2E7;

// Night mode colors

$nightWhite: #E6F0FF;
$nightGrey1: #D8E6FB;
$nightGrey2: #C9DAF5;
$nightGrey3: #B8CDEB;
$nightBlue1: #A7BDDD;
