@import "fonts.scss";
@import "vars.scss";
@import "global.scss";


/* Main style sheet begins here */

.mainScreen{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    &__heading{
        @include mon800;
        color: $textWhite;
        font-size: 55px;
        margin-bottom: 10vh;
    }
    &__button{
        padding: 30px 100px;
        border-radius: 10px;
        background-color: $buttonRed;
        text-transform: uppercase;
        @include mon600;
        color: $textWhite;
    }
}
.header{
    padding: 30px 0px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $textWhite;
    margin-bottom: 20vh;
    &__logo{
        max-width: 248px;
        width: 100%;
        padding: 10px 7px;
        text-align: center;
        border-left: 2px solid $textWhite;
        border-right: 2px solid $textWhite;
        transition: all .3s ease
    }
    &__logo--name{
        @include vet400;
        font-size: 20px;
        line-height: 20px;
        color: $textWhite;
        margin-bottom: 5px;
    }
    &__logo--desc{
        @include mon300;
        font-size: 12px;
        line-height: 12px;
        color: $textWhite;
    }
    &__menu{
        display: flex;
        align-items: center;
    }
    &__menu--ul{
        display: flex;
        align-items: center;
        li + li{
            margin-left: 45px;
        }
    }
    &__menu--link{
        @include vet400;
        color: $textWhite;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: $buttonRed;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
            opacity: 0;
            transition: all .3s ease;
        }
        &:hover::after{
            opacity: 1;
        }
    }
    &__burger{
        display: none;
        position: relative;
        width: 30px;
        height: 22px;
        margin-left: 50px;
        cursor: pointer;
        & span{
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: #FFFFFF;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            transition: all .3s ease;
        }
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: #FFFFFF;
            top: 0;
            left: 0;
            transition: all .3s ease;
        }
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: #FFFFFF;
            left: 0;
            bottom: 0;
            transition: all .3s ease;
        }
    }
    &__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    &__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    &__burger.active span{
        transform: scale(0);
    }
    &__phone{
        display: flex;
        align-items: center;
        a + a{
            margin-left: 12px;
        }
    }
    &__phone--social{
        width: 25px;
        height: 25px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__phone--number{
        cursor: pointer;
        @include vet400;
        font-size: 11px;
        line-height: 11px;
        padding: 15px 20px;
        border-radius: 10px;
        background-color: $buttonRed;
        margin-left: 25px;
        border: none;
        outline: none;
        color: $textWhite;
    }
}

/* "Tours" section styles start here */
.tours{
    padding-top: 30px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }
    &__desc--box{
        max-width: 490px;
        width: 100%;
    }
    &__desc--heading{
        @include mon700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        color: $textGrey;
    }
    &__desc--text{
        @include mon400;
        font-size: 18px;
        line-height: 23px;
        color: $textGrey;
    }
    &__tabs--top{
        display: flex;
        justify-content: center;
    }
    &__tabs--button{
        position: relative;
        max-width: 195px;
        width: 100%;
        height: 90px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include mon600;
        font-size: 20px;
        line-height: 23px;
        color: $buttonRed;
        cursor: pointer;
        transition: all .3s ease;
        &:first-child::before{
            content: '';
            position: absolute;
            width: 3px;
            height: 43px;
            background-color: $buttonRed;
            left: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 3px;
            height: 43px;
            background-color: $buttonRed;
            right: -3px;
        }
        &.active{
            background-color: $buttonRed;
            border-radius: 10px 10px 0px 0px;
            color: $textWhite;
            &::after{
                opacity: 0;
            }
        }
    }
    &__tabs--bottom{
        position: relative;
        height: calc(100vh - 110px);
    }
    &__tab{
        position: absolute;
        z-index: 1;
        opacity: 0;
        min-height: 745px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s ease;
        width: 100%;
        padding: 50px 15px 44px 15px;
        &.active{
            z-index: 5;
            opacity: 1;
        }
    }
    &__tabs--heading{
        position: relative;
        text-align: center;
        @include vet400;
        color: $textWhite;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 100px;
        &::after{
            content: '';
            position: absolute;
            width: 64px;
            height: 5px;
            background-color: $buttonRed;
            bottom: -45px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &__tabs--slider{
        text-align: center;
        position: relative;
        .slick-prev.slick-arrow{
            background: none;
            border: none;
            outline: none;
            background-image: url('../img/mainContent/toursPrevArrow.png');
            width: 79px;
            height: 79px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0;
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 50;
        }
        .slick-next.slick-arrow{
            background: none;
            border: none;
            outline: none;
            background-image: url('../img/mainContent/toursNextArrow.png');
            width: 79px;
            height: 79px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0;
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 50;
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            li + li{
                margin-left: 15px;
            }
            li{
                button{
                    padding: 0;
                    font-size: 0;
                    line-height: 0;
                    background: none;
                    border: none;
                    outline: none;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 2px solid $textWhite;
                    cursor: pointer;
                    transition: all .3s ease;
                }
            }
            .slick-active{
                button{
                    background-color: $textWhite;
                }
            }
        }
    }
    &__tabs--slide{
        min-height: 520px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__tabs--slide__heading{
        @include mon700;
        color: $textWhite;
        font-size: 32px;
        margin-bottom: 40px;
    }
    &__tabs--slide__type{
        @include vet400;
        color: $textWhite;
        font-size: 18px;
        margin-bottom: 40px;
    }
    &__tabs--slide__desc{
        @include mon400;
        color: $textWhite;
        font-size: 18px;
        line-height: 24px;
        max-width: 760px;
        width: 100%;
    }
    &__tabs--slide__link{
        padding: 25px 70px;
        background-color: $buttonRed;
        border-radius: 10px;
        text-transform: uppercase;
        @include mon600;
        font-size: 14px;
        color: $textWhite;
        margin-top: auto;
        margin-bottom: 20px;
    }
}
/* "Tours" section styles end here */

/* "Individual route" section styles start here */
.individualRoute{
    background-color: $textWhite;
    text-align: center;
    padding: 55px;
    &__heading{
        @include vet400;
        font-size: 36px;
        line-height: 36px;
        color: $textGrey;
        margin-bottom: 25px;
        span{
            color: $buttonRed;
        }
    }
    &__text{
        @include mon400;
        font-size: 18px;
        line-height: 24px;
        color: $textGrey;
        margin-bottom: 25px;
    }
    &__link{
        display: inline-block;
        @include mon600;
        font-size: 14px;
        color: $textWhite;
        text-transform: uppercase;
        background-color: $buttonRed;
        border-radius: 10px;
        padding: 20px 60px;
    }
}
/* "Individual route" section styles end here */

/* "About me" section styles start here */
.about{
    padding: 90px 0px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 500px;
        width: 100%;
    }
    &__desc{
        @include mon700;
        font-size: 24px;
        color: $textGrey;
        margin-bottom: 30px;
    }
    &__text{
        @include mon400;
        font-size: 18px;
        color: $textGrey;
    }
    &__photo{
        width: 575px;
        height: 381px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.aboutAdditional{
    background-color: $textWhite;
    padding: 42px 0px;
    &__line{
        padding-left: 179px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:first-child::before{
            width: 82px;
            height: 55px;
            background-image: url('../img/mainContent/aboutIconPeople.png');
        }
        &:nth-child(2)::before{
            width: 78px;
            height: 82px;
            background-image: url('../img/mainContent/aboutIconCar.png');
        }
        &:nth-child(3)::before{
            width: 98px;
            height: 91px;
            background-image: url('../img/mainContent/aboutIconHeart.png');
        }
        & + .aboutAdditional__line{
            margin-top: 55px;
        }
    }
    &__heading{
        @include vet400;
        font-size: 36px;
        line-height: 36px;
        color: $textGrey;
        margin-bottom: 4px;
    }
    &__text{
        @include mon400;
        font-size: 18px;
        line-height: 24px;
        color: $textGrey;
    }
}
/* "About me" section styles end here */

/* "Review" section styles */
.reviewTop{
    margin-top: 75px;
    margin-bottom: 65px;
}
.reviewBottom{
    background-color: $textWhite;
    &__slider{
        padding: 74px 0px 50px 0px;
    }
    &__slide{
        padding: 27px 30px;
        background-color: #FFFFFF;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        max-width: 475px;
        width: 100%;
        height: 439px;
        margin-right: 15px;
    }
    &__slide--photo{
        width: 118px;
        height: 118px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        border-radius: 50%;
    }
    &__slide--name{
        @include mon700;
        font-size: 17px;
        line-height: 17px;
        color: $textGrey;
        margin-bottom: 15px;
    }
    &__slide--text{
        @include mon400;
        font-size: 12px;
        line-height: 18px;
        color: $textGrey;
        text-align: center;
    }
    &__slide--date{
        margin-top: auto;
        @include vet400;
        font-size: 12px;
        line-height: 25px;
        color: $textGrey;
        border-bottom: 1px solid $textGrey;
        margin-bottom: 6px;
    }
    &__slide--tour{
        @include mon400;
        font-size: 12px;
        line-height: 16px;
        color: $textGrey;
        position: relative;
        &::before{
            content: '-';
            position: absolute;
            left: -10px;
        }
    }
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow{
        background: none;
        border: none;
        outline: none;
        font-size: 0;
        line-height: 0;
        width: 79px;
        height: 79px;
        background-image: url('../img/mainContent/reviewLeftArrow.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: -145px;
        right: 95px;
        cursor: pointer;
    }
    .slick-next.slick-arrow{
        background-image: url('../img/mainContent/reviewRightArrow.png');
        top: -145px;
        right: 0;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        li + li{
            margin-left: 10px;
        }
        li{
            button{
                padding: 0;
                background: none;
                border: 2px solid $textGrey;
                border-radius: 50%;
                outline: none;
                font-size: 0;
                line-height: 0;
                width: 12px;
                height: 12px;
                transition: all .3s ease;
            }
        }
        li.slick-active{
            button{
                background: $textGrey;
            }
        }
    }
}
/* "Review" section styles */

/* "Contacts" section styles */
.contacts{
    padding: 50px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__heading{
        @include vet400;
        font-size: 48px;
        text-align: center;
        color: $textWhite;
        margin-bottom: 15px;
    }
    &__desc{
        @include mon400;
        font-size: 18px;
        line-height: 18px;
        color: $textWhite;
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 35px;
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__form--input{
        border: none;
        outline: none;
        height: 59px;
        border-radius: 10px;
        background-color: $textWhite;
        padding: 0px 25px;
        @include mon400;
        font-size: 18px;
        color: $textGrey;
        margin-bottom: 14px;
        &::placeholder{
            opacity: 0.8;
        }
    }
    &__form--text{
        border: none;
        outline: none;
        height: 206px;
        border-radius: 10px;
        resize: none;
        background-color: $textWhite;
        padding: 10px 25px;
        margin-bottom: 14px;
        @include mon400;
        font-size: 18px;
        columns: $textGrey;
        &::placeholder{
            opacity: 0.8;
        }
    }
    &__form--submit{
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 20px 25px;
        background-color: $buttonRed;
        @include mon600;
        text-transform: uppercase;
        color: $textWhite;
        cursor: pointer;
    }
    &__thirdParty{
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        @include mon400;
        font-size: 12px;
        color: $textWhite;
        text-align: center;
        margin-bottom: 35px;
    }
    &__call{
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        @include mon700;
        font-size: 18px;
        color: $textWhite;
        text-align: center;
        margin-top: 15px;
    }
    &__call--link{
        @include mon700;
        font-size: 18px;
        color: $buttonRed;
    }
}
/* End of "Contacts" section styles */

/* Login pgae styles */
.loginPage{
    background-color: $textWhite;
    min-height: 80vh;
    padding-top: 20px;
    text-align: center;
    .header__logo{
        border-left: 1px solid $textGrey;
        border-right: 1px solid $textGrey;
        display: inline-block;
        margin-bottom: 80px;
    }
    .header__logo--name,
    .header__logo--desc{
        color: $textGrey;
    }
    &__login{
        max-width: 300px;
        width: 100%;
        min-height: 250px;
        margin: 0 auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 15px;
    }
    &__form{
        max-width: 270px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 200px;;
    }
    &__form--heading{
        @include vet400;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__form--input{
        max-width: 230px;
        width: 100%;
        background-color: $textWhite;
        min-height: 40px;
        padding-left: 25px;
        padding-right: 20px;
        border: none;
        outline: none;
        border-radius: 7px;
        margin-bottom: 20px;
        @include mon400;
        font-size: 14px;
    }
    &__form--button{
        max-width: 230px;
        width: 100%;
        background-color: $textGrey;
        padding: 9px;
        text-transform: uppercase;
        color: $textWhite;
        border: none;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
        display: block;
        margin-top: auto;
    }
    &__form--passwordRecovery{
        margin-top: 20px;
        display: inline-block;
        @include mon400;
        font-size: 14px;
        color: #5e87f7;
    }
}
/* End of Login page styles */

.footer{
    margin-top: auto;
    background-color: $textGrey;
    padding-top: 45px;
    padding-bottom: 40px;
    &__nav{
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        li + li{
            margin-left: 25px;
        }
    }
    &__nav--link{
        @include vet400;
        font-size: 15px;
        color: $textWhite;
    }
    &__extensions{
        @include mon400;
        font-size: 12px;
        line-height: 18px;
        color: $textWhite;
        text-align: center;
        margin-bottom: 37px;
    }
    &__designBy{
        @include mon700;
        font-size: 18px;
        color: $textWhite;
        text-align: center;
    }
    &__disignBy--link{
        color: $buttonRed;
    }
}


/* Main style sheet ends here */

@import "admin.scss";
@import "media.scss";